@import"variables";
section.head{
div#containerFav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 21px;
    row-gap: 25px;
    // div.hoverFav.GifHoverFav{
    //     div.classMax{
    //         display: none;
    //     }
    // }
    
    div.GifHoverFav{
        display: block;
        width: 156px;
        height: 120px;
        background: #572EE5;
        div.classFav{
            display: none;
            i{
                color:#572EE5;
            }
        }
        div.classDown{
            display: none;
        }
        div.classMax{
            display: none;
        }

        img{
            display: block;
            width: 156px;
            height: 120px;
        }
        div.textContainer{
            display: none;
            // h6{
            //     display: none;                       
            //     } 
            
            // p{
            //     display: none;
            // }

        }
        img.cruz{
            display: none;
        }
        &.expan{
            content: '';
            position: fixed;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background: #ffffff;
            width: 100vw;
            height: 100vh;
            padding: 0 5%;
            top:0;
            left: 0;
            z-index: 20;
            opacity: 1;
            img{
                display: block;            
                width: 318px;
                height: 245px;
                scroll-snap-align: center;
                opacity: 1;
                
                @media screen and (min-width: 490px){
                    width:415px;
                    height: 320px;
                }
                @media screen and (min-width: 620px){
                    width:525px;
                    height: 405px;
                }
                // @media screen and (min-width: 1200px){
                //     width:580px;
                //     height: 320px;
                // }
                // @media screen and (min-width: 1440px){
                //     width:695px;
                //     height: 385px;
                // }
            }
            div.classSupr{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 72%;
                left: 66%;
                opacity: 0.7;
                width: 36px;
                height: 36px;
                padding: 2%;
                margin-top:10px;
                border:1px solid #572EE5 ;
                background: #FFFFFF;                  
                border-radius: 10px;                       
                @media screen and (min-width: 490px){
                    top:78%;
                }
                @media screen and (min-width: 620px){
                    top:86%;
                }
                @media screen and (min-width: 800px){
                    left:64%;
                }
                    &:hover{
                        opacity: 1;
                    }
                    img.hoverIcon{
                        display:block;
                        visibility: visible;
                        width: 20px;
                        height: 18px;
                    }
            }
            div.classFav{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 72%;
                left: 66%;
                opacity: 0.7;
                width: 36px;
                height: 36px;
                padding: 2%;
                margin-top:10px;
                border:1px solid #572EE5 ;
                background: #FFFFFF;                  
                border-radius: 10px;                       
                @media screen and (min-width: 490px){
                    top:78%;
                }
                @media screen and (min-width: 620px){
                    top:86%;
                }
                @media screen and (min-width: 800px){
                    left:64%;
                }
                    &:hover{
                        opacity: 1;
                    }
                    i{
                        color:#572EE5;
                    }
                    i.hoverIcon{
                        // display:block;
                        
                        visibility: visible;
                        width: 20px;
                        height: 18px;
                    }
                    i#hover{
                        display: block;
                    }
    
                }
            div.classDown{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 72%;
                left: 78%;
                opacity: 0.7;
                width: 36px;
                height: 36px;
                padding: 2%;
                margin-top:10px;
                border-radius: 10px;
                border:1px solid #572EE5 ;
                background: #FFFFFF;               
                @media screen and (min-width: 490px){
                    top:78%;
                }
                @media screen and (min-width: 620px){
                    top:86%;
                }
                @media screen and (min-width: 800px){
                    left:74%;
    
                }
                    &:hover{
                        opacity: 1;
                    }
                    img.hoverIcon{
                        display:block;
                        visibility: visible;
                        width: 19.2px;
                        height: 21.1px;
                    }
                }
            div.textContainer{
                display: block;
                position: absolute;
                top: 72%;
                margin-top:4%;
                // margin-left: -14%;
                @media screen and (min-width: 490px){
                    top:80%;
                    margin-left: -26%;
                }
                @media screen and (min-width: 620px){
                    top:86%;
                    margin-left: -28%;                            
                }
                h6{
                    display: block;
                    visibility: visible;
                    color:#000;
                    font-size: 1rem;
                    font-family: $roboto;
                    width: 60%;
                    margin-top: 2vh;
                    margin-bottom: 51px;
                    @media screen and (min-width: 620px){
                        width: 80%;                            
                    } 
                }
                p{
                    display: block;
                    visibility: visible;
                    color:#000;
                    font-size: 15px;
                    margin-bottom: 6px;
                    font-family: $roboto;
                }
    
            }
            footer{
                display: none;
            }
            main>section.head{
                display: none;
            }
            main>section.trendings{
                display: none;
            }
            header{
                display: none;
            }
            img.cruz{
                display: block;
                position: absolute;
                top:14%;
                left:86%;
                // position: absolute;
                // top:-42%;
                // left:2%;
                width: 13.8px;
                height: 14px;
    
                @media screen and (min-width: 620px){
                    top:12%;
                    left:89%;
                }
                // @media screen and (min-width: 800px){
                // }
            }
        }

    }

}
h3.verMasF{
    display: none;
}
}
@media screen and (min-width:1200px){
    section.head{

        div#containerFav{
            display: grid;
            grid-template-columns:1fr 1fr 1fr 1fr;
            column-gap: 21px;
            row-gap: 25px;;
            div.GifHoverFav{
                display: block;
                width: 260px;
                height: 200px;
                background: #572EE5;
                &:hover{
                    display: block;
                    width: 260px;
                    height: 200px;
                    opacity: 0.9;
                    img.imgFav{                            
                        display: block;                            
                        opacity: 0.5;
                    }
                    div.classFav{
                        display: flex;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                        background: #FFFFFF;
                        position: relative;
                        top:-191px;
                        left: 133px;
                        align-items: center;
                        padding: 3%;
                        border-radius: 10px;
                        opacity: 0.7;
                        &:hover{
                            opacity: 1;
                        }
                        img.hoverIcon{
                            display:block;
                            visibility: visible;
                            width: 18px;
                            height: 16px;
                        }
                    }
                    div.classDown{
                        display: flex;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                        background: #FFFFFF;
                        position: relative;
                        top:-222px;
                        left: 176px;
                        align-items: center;
                        padding: 3%;
                        border-radius: 10px;
                        opacity: 0.7;
                        &:hover{
                            opacity: 1;
                        }
                        img.hoverIcon{
                            display:block;
                            visibility: visible;
                            width: 18px;
                            height: 16px;
                        }
                    }
                    div.classMax{
                        display: flex;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                        background: #FFFFFF;
                        position: relative;
                        top:-254px;
                        left: 218px;
                        align-items: center;
                        padding: 3%;
                        border-radius: 10px;
                        opacity: 0.7;
                        &:hover{
                            opacity: 1;
                        }
                        img.hoverIcon{
                            display:block;
                            visibility: visible;
                            width: 18px;
                            height: 16px;
                        }
                    }
                    div.textContainer{
                        display: flex;
                        flex-flow: wrap row;
                        flex-direction: column;
                        align-items: start;
                        align-content: start;
                        visibility: visible;
                        position: relative;
                        color:#FFFFFF;
                        top: -85%;
                        left:18px;
                        h6{
                            display: block;
                            font-size: 1rem;
                            font-family: $roboto;
                        }
                        p{
                            display: block;
                            font-size: 15px;
                            font-family: $roboto;
                        }
            
                    }
                }
                img.imgFav{
                    display: block;
                    width: 260px;
                    height: 200px;
                }
                div{
                    img.hoverIcon{
                        display: none;
                        visibility: hidden;
                    }
                }
                &.expanDes{
                    content: '';
                    position: fixed;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    background: #ffffff;
                    width: 100vw;
                    height: 100vh;
                    padding: 0 5%;
                    top:0;
                    left: 0;
                    z-index: 20;
                    opacity: 1;
                    // img.imgFav{                            
                    //     display: block;
                    //     // opacity: 1;
                    // }
                    img.imgFav{
                        display: block;
                        width: 459px;
                        height: 254px;
                        scroll-snap-align: center;
                        opacity: 1;
                        z-index: 25;
                        @media screen and (min-width: 1200px){
                            width:580px;
                            height: 320px;
                        }
                        @media screen and (min-width: 1440px){
                            width:695px;
                            height: 385px;
                        }
                    }
                    div.classFav{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 74%;
                        left: 66%;
                        opacity: 0.7;
                        width: 36px;
                        height: 36px;
                        padding: 1%;
                        border:1px solid #572EE5 ;
                        background: #FFFFFF;                  
                        border-radius: 10px;  
                        // margin:34% 0% 0% -10%;                     
                        @media screen and (min-width: 1200px){
                            top:78%;
                        }
                        @media screen and (min-width: 1300px){
                            left: 64%;
                        }
                        @media screen and (min-width: 1440px ) and (max-width: 1590px ) {
                            top:78%;
                            left: 68%;
                            // margin:34% 0% 0% 11%;
                        }
            
                            &:hover{
                                opacity: 1;
                            }
                            i{
                                display:block;
                                visibility: visible;
                                width: 20px;
                                height: 18px;
                            }
                        }
                    div.classDown{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 74%;
                        left: 70%;
                        opacity: 0.7;
                        width: 36px;
                        height: 36px;
                        padding: 1%;
                        border-radius: 10px;
                        border:1px solid #572EE5 ;
                        background: #FFFFFF;             
                        @media screen and (min-width: 1200px){
                            top:78%;
                            left: 70.5%;
                        }
                        @media screen and (min-width: 1300px){
                            left: 68%;
                        }
                        @media screen and (min-width: 1440px) and (max-width: 1590px ){
                            top:78%;
                            left: 71.5%;
                            
                        }
                        
                            &:hover{
                                opacity: 1;
                            }
                            img.hoverIcon{
                                display:block;
                                visibility: visible;
                                width: 19.2px;
                                height: 21.1px;
                            }
                        }
                    div.classMax{
                        display: none;
                    }
                    div.textContainer{
                        display: block;
                        position: absolute;
                        top: 72%;
                        left:25%;
                        margin-right: 18%;
                        @media screen and (min-width: 1200px){
                            top:76%;
                            margin-right: 25%;
                        }
                        @media screen and (min-width: 1440px) and (max-width: 1590px ){
                            top:78%;
                            margin-right: 30%; 
                            left:26%;
                        }
                        h6{
                            display: block;
                            visibility: visible;
                            color:#000;
                            font-size: 1rem;
                            font-family: $roboto;
                            width: 60%;
                            margin-bottom: 51px;
                            @media screen and (min-width: 620px){
                                width: 80%;                            
                            } 
                        }
                        p{
                            display: block;
                            visibility: visible;
                            color:#000;
                            font-size: 15px;
                            margin-bottom: 6px;
                            font-family: $roboto;
                        }
            
                    }
                    img.cruz{
                        display: block;
                        position: absolute;
                        top:10.5%;
                        left:72.5%;
                        width: 13.8px;
                        height: 14px;
                    }
                    footer{
                        display: none;
                    }
                    main>section.trendings{
                        display: none;
                    }
                    header{
                        display: none;
                    }
            
                }

            }
        }
    }
}

