header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  border-top: 5px solid #572EE5;
  background: #FFFFFF;
  z-index: 10;
}
header div#logo {
  cursor: pointer;
}
header img.imgDiurna {
  margin: 19px 0 17px 22px;
}
header img.imgDark {
  margin: 19px 0 17px 22px;
  display: none;
}
header img.imgDes {
  display: none;
}
header img.imgDesNoc {
  display: none;
}
header input#menu {
  display: none;
}
header div#boxSearch {
  display: none;
}
header div#boxSearch input.search {
  border: none;
  outline: none;
  background: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
}
header div#boxSearch button {
  border: none;
  background: none;
}
header label {
  cursor: pointer;
  margin-right: 38px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  transition: 0.3s;
  position: relative;
}
header label span.linea {
  background: rgba(87, 46, 229, 0.9);
  transition: 0.5s;
  position: absolute;
  padding-top: 2px;
  height: 2px;
  width: 18px;
  border-radius: 100px;
}
header label span.linea:nth-of-type(1) {
  top: -200%;
}
header label span.linea:nth-of-type(2) {
  top: 0%;
}
header label span.linea:nth-of-type(3) {
  top: 200%;
}
header nav.container {
  display: none;
  position: absolute;
  top: 100%;
  background: rgba(87, 46, 229, 0.9);
  width: 100%;
  padding: 0 16px 440px;
  text-decoration: none;
}
header nav.container ul.box {
  display: grid;
  padding: 0 16px;
  text-align: center;
  justify-items: center;
  list-style: none;
  outline: none;
}
header nav.container ul.box li {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin: 12px 0;
}
header nav.container ul.box li a {
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  cursor: pointer;
}
header nav.container ul.box li.linea {
  width: 41px;
  height: 0.1px;
  opacity: 0.5;
  border: 0.1px solid #FFFFFF;
}
header nav.container ul.box li#creaPropioGif {
  display: none;
}
header nav.container ul.box li#creaPropioGif span i {
  display: none;
}
header input#menu:checked ~ nav.container {
  display: inline;
}
header input[type=checkbox]:checked + label span.linea:nth-of-type(1) {
  transform: rotate(-45deg) scaleX(1.1);
  top: 0;
}
header input[type=checkbox]:checked + label span.linea:nth-of-type(2) {
  opacity: 0;
}
header input[type=checkbox]:checked + label span.linea:nth-of-type(3) {
  transform: rotate(45deg) scaleX(1.1);
  top: 0;
}

@media screen and (min-width: 700px) {
  header label span.linea {
    display: none;
  }
  header nav.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-direction: row;
    background: none;
    position: static;
    width: 65%;
    padding: 0;
  }
  header nav.container ul.box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
  }
  header nav.container ul.box li {
    margin: 0 20px;
  }
  header nav.container ul.box li a {
    color: #572EE5;
    font-size: 0.8125rem;
  }
  header nav.container ul.box li a:hover {
    border-bottom: 2px solid #5ed7c6;
  }
  header nav.container ul.box li a:active {
    color: #9cafc3;
  }
  header nav.container ul.box li.linea {
    display: none;
  }
}
@media screen and (min-width: 950px) {
  header img.imgDiurna {
    display: none;
    margin: 19px 0 17px 156px;
  }
  header img.imgDark {
    margin: 19px 0 17px 156px;
    display: none;
  }
  header img.imgDes {
    display: inline;
    margin: 19px 0 17px 156px;
  }
  header img.imgDesNoc {
    display: none;
    margin: 19px 0 17px 156px;
  }
  header label span.linea {
    display: none;
  }
  header nav.container {
    padding: 0;
    padding-right: 126px;
    width: auto;
  }
  header nav.container ul.box li {
    margin: 0 24px;
  }
  header nav.container ul.box li#creaPropioGif {
    display: block;
  }
  header nav.container ul.box li#creaPropioGif span {
    display: block;
    padding: 19px;
    border: #572EE5 solid;
    border-radius: 100%;
    align-items: center;
    width: auto;
  }
  header nav.container ul.box li#creaPropioGif span i {
    display: block;
    align-items: center;
    color: #572EE5;
    z-index: 2;
  }
  header nav.container ul.box li#creaPropioGif span:hover {
    background-color: #572EE5;
  }
  header nav.container ul.box li#creaPropioGif span:hover i {
    color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  header div#boxSearch {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 334px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #572EE5;
    border-radius: 27px;
    visibility: hidden;
    position: relative;
  }
  header div#boxSearch input.search {
    margin: 12px 0px 12px 54px;
    justify-self: left;
  }
  header div#boxSearch button {
    justify-self: left;
  }
  header div#boxSearch button img.lupaDia {
    display: block;
  }
  header div#boxSearch button img.lupaNoche {
    display: none;
  }
  header nav.container {
    padding: 0;
    padding-right: 126px;
    width: auto;
  }
  header nav.container ul.box li {
    margin: 0 22px;
  }
}/*# sourceMappingURL=header.css.map */