*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
@import"variables";
@import"header";
@import"head.main";
@import"nightStyle";
@import"trendings.main";
@import"footer";
@import"two.main";
@import"miGif";
@import"favoritos";